@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply min-h-screen bg-base-100;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    }
}